
@{
    ViewBag.Title = "Display";
}


<h2 style="text-align:center;background-color:yellowgreen;color:orangered">User Details</h2>
<table border="1" align="center">
    <tr><td>User Name:</td><td>@Model.username</td></tr>
    <tr><td>First Name:</td><td>@Model.firstname</td></tr>
    <tr><td>Last Name:</td><td>@Model.lastname</td></tr>
    <tr><td>Email:</td><td>@Model.email</td></tr>
    <tr><td>Phone:</td><td>@Model.phonenumber</td></tr>
    
  
</table>


