@{
    ViewData["Title"] = "Home Page";
}

@model FormClass

@using (@Html.BeginForm())
{
    <div class="text-center form-text">
        <h2 class="display-3">User Form</h2>
        <table align="center" class="table table-bordered">
            <tr class="table-bordered">
                <td>
                    @Html.LabelFor(m => m.Username, new { @class = "label label-primary" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                </td>
            </tr>
            <tr class="table-bordered">
                <td>
                    @Html.LabelFor(m => m.Address, new { @class = "label label-primary" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </td>
            </tr>
            <tr class="table-bordered">
                <td>
                    @Html.LabelFor(m => m.Date, new { @class = "label label-primary" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control", @type = "date" })
                </td>
            </tr>
            <tr class="table-bordered">
            <td>
                @Html.LabelFor(m => m.Nationality, new { @class = "label label-primary" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control" })
            </td>
        </tr>


            <tr class="table-bordered">
            <td>
                @Html.LabelFor(m => m.PrefCountries, new { @class = "label label-primary" })
            </td>
            <td>
                <select class="form-control" id="PrefCounties" name="PrefCounties">
                    <option value="">- Please select a Country-</option>
                    <option value="Project Manager">U.S.A</option>
                    <option value="Team Leader">Canada</option>
                    <option value="Senior Developer">U.K</option>
                    <option value="Junior Developer">Japan</option>
                    
                </select>
            </td>
        </tr>


            <tr class="table-bordered">
                <td>
                    @Html.LabelFor(m => m.Skills, new { @class = "label label-primary" })
                </td>
                <td>
                    @Html.TextAreaFor(x => x.Skills, 5, 90, null)
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
}